<section id="gigs" class="container">
    <h1>Resumes</h1>

    {{#each gigs}}
      <div class="gig">
       <h3>Experience : </h3>
       <p>{{description}}</p>
       <ul>
         <li>Expected salary: {{budget}}</li>
         <li><a href="mailto:{{contact_email}}" class="btn btn-reverse">Recruite Now</a></li>
       </ul>
       <div class="tech">
         <small>Skills: <span>{{technologies}}</span></small>
       </div>
      </div>
    {{else}}
      <p>No resumes available</p>
    {{/each}}  


  </section>